.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#docView {
    display: none;
    height: 100%;
}

#iframe-box
{
    width: 100%;
    height: 100%;
}
iframe {
    width: 100%;
}

#fileBox{
    height: 100%;
    width: 100%;
}

#progress {
    display:none;
}

.column {
    min-width: 300px;
}

.navbar-item img {
    max-height: fit-content !important;
    max-width: fit-content !important;

    height:60px;
}

#EVERYTHING{
    margin-top: 75px;
}
