.card-equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#docView {
    display: none;
}

#iframe-box
{
    width:100%; height:100%;
}

#progress {
    display:none;
}

.column {
    min-width: 300px;
}